
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "black";
  default: false;
  
}

.patua-font {
  font-family: "Patua One", serif;
}







 
