@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@layer components {
  html[data-theme="light"] {
    --color-primary: #B34CBA;
    --color-secondary: #5296A1;
  }
  html[data-theme="dark"] {
    --color-primary: #B34CBA;
    --color-secondary: #5296A1;
  }
}

.parkinsans-font {
  font-family: "Parkinsans", sans-serif;
}

.btn-hover {
  @apply btn rounded-full border border-secondary font-semibold transition-all duration-300 bg-gradient-to-r from-secondary to-primary bg-[length:0%_100%] hover:bg-[length:100%_100%] bg-no-repeat bg-left;
}

.btn-color {
  @apply btn rounded-full border border-secondary transition-all duration-300 bg-gradient-to-r from-secondary to-primary bg-[length:100%_100%] hover:bg-[length:0%_100%] bg-no-repeat bg-left;
}

.text-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
}

.active-link {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
}
