
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "black";
  default: false;
  
}
.parkinsans-font {
  font-family: "Parkinsans", sans-serif;
}









 
